
<div class="row mx-5 my-5 post" id="{{id}}">
    <div class="col-12 border-custom">
        <div class="row bg-royal">
            <div class="col-6">
                <h3 class="text-peach"> {{title}}</h3>
            </div>
            <div class="col-6">
                <p class="text-peach text-end"> Post by {{user.username}} on {{format_date created_at}}</p>
            </div>
        </div>
        <div class="row bg-peach">
            <div class="col-12">
                <p class="text-royal">{{text}}</p>
            </div>
        </div>
        <!--{{> comments post.comments}}
        <div class="row bg-peach justify-content-center pb-3"  id="comment">
            <div class="col-9">
                <input type="text" id="comment-text" class="col-12">
            </div>
            <div class="col-auto">
                <button type="submit" id="{{id}}" class="btn bg-royal text-peach mb-3 mb-3 comment">Add Comment</button>
            </div>
        </div>-->
        
    </div>
</div>
<!--<script src="/javascript/create-comment.js"></script>-->